@model NewsWebsite.ViewModels.News.CreateNewsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create News</h1>

<hr />
<div class="row">
    <form asp-action="Create">
        <partial name="_UpsertNews" model="@Model" />
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>