@model NewsWebsite.ViewModels.News.CreateNewsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create News</h1>

<hr />
<div class="row">
    <form asp-action="Create" id="news-form">
        <partial name="_UpsertNews" model="@Model" />
    </form>
</div>

<partial name="_NewsFooter" />