@model NewsWebsite.ViewModels.News.EditNewsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit News</h4>

<hr />
<div class="row">
    <form asp-action="Edit" id="news-form">
        <div class="form-group">
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>

        <partial name="_UpsertNews" model="@Model" />
    </form>
</div>

<partial name="_NewsFooter" />