@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<h4>
    An email has been sent to the your email address. If you do not receive an email within 30 minutes, please contact your system administrator.
</h4>