@model NewsWebsite.ViewModels.Users.SetPasswordViewModel

@{
    ViewData["Title"] = "SetPassword";
}

<h1>Set Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="PasswordResetToken" class="form-control" />
                <span asp-validation-for="PasswordResetToken" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Set Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>