@model DeleteModalViewModel

<!-- Delete Button that triggers the modal -->
<a href="#" data-toggle="modal" data-target="#deleteModal-@Model.Id">Delete</a>

<!-- Modal -->
<div class="modal fade" id="deleteModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete News</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Delete News with Title "@Model.Title"?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <form asp-action="Delete">
                    @Html.Hidden(nameof(Model.Id), Model.Id)
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>

        </div>
    </div>
</div>