@*TODO: make a facade for the viewbag and tempdata messages*@
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger fade show" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
else if (TempData["SuccessMessage"] != null) // We use TempData, because it doesn't get deleted on first redirect
{
    <div class="alert alert-success fade show" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<script>
    setTimeout(function () { // a fade out effect of the alert
        $(".alert").alert('close')
    }, 5000);
</script>