@inject Services.CRUD.Interfaces.IUsersService usersService;
@using System.Security.Claims;
@using NewsWebsite.Auth;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NewsWebsite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">

                @if (this.usersService.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post" asp-controller="Users" asp-action="Logout">
                            <button type="submit" class="nav-link text-dark btn btn-link">
                                Logout @User.Identity.Name
                            </button>
                        </form>
                    </li>

                    string currentUserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

                    if (await this.usersService.IsInRoleAsync(currentUserId, RoleConstants.Administrator))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                    }

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">News</a>
                </li>

            </ul>
        </div>
    </div>
</nav>